.Navbar{
    width: 100%;
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    padding: 12px 10vw;
    justify-content: space-between;
}
@media only screen and (max-width:1200px){
   .Navbar{
    padding: 20px 5vw;

   }
   
}
.sagVeToggler{
    display: flex;
}