.Sucsess{

    padding: 0 10vw;
    margin-top: 6rem;
}

.h1{
    color: rgb(6, 6, 6);
    letter-spacing: 5px;
    font-size: 48px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 3rem;
    
}
.Items{
    gap: 2rem 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (max-width:1200px) {
    .Sucsess{
        padding: 0 6vw;

    }
    .h1{
        font-size: 35px;
    }
    .p{
        padding: 0;
    }
}